USE [Karify]
GO
/****** Object:  Table [dbo].[ALUMNO]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [char](1) NULL,
	[NumeroDocumento] [varchar](20) NULL,
	[Nombre] [varchar](250) NULL,
	[ApellidoPaterno] [varchar](250) NULL,
	[ApellidoMaterno] [varchar](250) NULL,
	[Telefono] [varchar](20) NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [pk_alumno] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMENTARIO]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMENTARIO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [text] NULL,
	[Fecha] [datetime] NULL,
	[IdRevision] [int] NULL,
 CONSTRAINT [pk_comentario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESCUELA]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESCUELA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NULL,
	[CorreoAtencion] [varchar](320) NULL,
	[IdFacultad] [int] NULL,
 CONSTRAINT [pk_escuela] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACULTAD]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACULTAD](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NULL,
 CONSTRAINT [pk_facultad] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESOR]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESOR](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [char](1) NULL,
	[NumeroDocumento] [varchar](20) NULL,
	[Nombre] [varchar](250) NULL,
	[ApellidoPaterno] [varchar](250) NULL,
	[ApellidoMaterno] [varchar](250) NULL,
	[Telefono] [varchar](20) NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [pk_profesor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROYECTO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NULL,
	[Descripcion] [varchar](max) NULL,
	[FechaRegistro] [datetime] NULL,
	[IdProfesor] [int] NULL,
 CONSTRAINT [pk_proyecto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROYECTOXALUMNO]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROYECTOXALUMNO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAlumno] [int] NULL,
	[IdProyecto] [int] NULL,
 CONSTRAINT [pk_proyectoxalumno] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVISION]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVISION](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreArchivo] [varchar](max) NULL,
	[ArchivoBase64] [varbinary](1) NULL,
	[Peso] [decimal](10, 4) NULL,
	[FechaRegistro] [datetime] NULL,
	[Estado] [char](1) NULL,
	[ConstanciaBase64] [varbinary](1) NULL,
	[FechaResultado] [datetime] NULL,
	[IdProyecto] [int] NULL,
 CONSTRAINT [pk_revision] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [pk_rol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLXRUTA]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLXRUTA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRuta] [int] NULL,
	[IdRol] [int] NULL,
 CONSTRAINT [pk_rolxruta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RUTA]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Menu] [varchar](100) NULL,
	[Ruta] [varchar](max) NULL,
 CONSTRAINT [pk_ruta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoUniversitario] [varchar](10) NULL,
	[Correo] [varchar](320) NULL,
	[IdEscuela] [int] NULL,
	[IdRol] [int] NULL,
 CONSTRAINT [pk_usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALUMNO] ON 

INSERT [dbo].[ALUMNO] ([Id], [TipoDocumento], [NumeroDocumento], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Telefono], [IdUsuario]) VALUES (2, N'D', N'74128515', N'Rodolfo Alfiery', N'Furlong', N'Millones', N'966676402', 2)
SET IDENTITY_INSERT [dbo].[ALUMNO] OFF
GO
SET IDENTITY_INSERT [dbo].[ESCUELA] ON 

INSERT [dbo].[ESCUELA] ([Id], [Nombre], [CorreoAtencion], [IdFacultad]) VALUES (1, N'Agronomía', N'mramosg@unprg.edu.pe', 1)
INSERT [dbo].[ESCUELA] ([Id], [Nombre], [CorreoAtencion], [IdFacultad]) VALUES (2, N'Ciencias Biológicas', N'escuela_biologia@unprg.edu.pe', 2)
INSERT [dbo].[ESCUELA] ([Id], [Nombre], [CorreoAtencion], [IdFacultad]) VALUES (3, N'Administración', N'mesadepartes_faceac@unprg.edu.pe', 3)
SET IDENTITY_INSERT [dbo].[ESCUELA] OFF
GO
SET IDENTITY_INSERT [dbo].[FACULTAD] ON 

INSERT [dbo].[FACULTAD] ([Id], [Nombre]) VALUES (1, N'Facultad de Agronomía')
INSERT [dbo].[FACULTAD] ([Id], [Nombre]) VALUES (2, N'Facultad de Ciencias Biológicas')
INSERT [dbo].[FACULTAD] ([Id], [Nombre]) VALUES (3, N'Facultad de Ciencias Económicas Administrativas y Contables')
SET IDENTITY_INSERT [dbo].[FACULTAD] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([Id], [Nombre], [Estado]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[ROL] ([Id], [Nombre], [Estado]) VALUES (2, N'Profesor', 1)
INSERT [dbo].[ROL] ([Id], [Nombre], [Estado]) VALUES (3, N'Alumno', 1)
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLXRUTA] ON 

INSERT [dbo].[ROLXRUTA] ([Id], [IdRuta], [IdRol]) VALUES (1, 1, 1)
INSERT [dbo].[ROLXRUTA] ([Id], [IdRuta], [IdRol]) VALUES (2, 2, 1)
INSERT [dbo].[ROLXRUTA] ([Id], [IdRuta], [IdRol]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[ROLXRUTA] OFF
GO
SET IDENTITY_INSERT [dbo].[RUTA] ON 

INSERT [dbo].[RUTA] ([Id], [Menu], [Ruta]) VALUES (1, N'Gestion Permisos', N'gestionpermisos')
INSERT [dbo].[RUTA] ([Id], [Menu], [Ruta]) VALUES (2, N'Revisión de Proyectos', N'revisionproyectos')
INSERT [dbo].[RUTA] ([Id], [Menu], [Ruta]) VALUES (3, N'Gestion de Proyectos', N'gestionproyectos')
SET IDENTITY_INSERT [dbo].[RUTA] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([Id], [CodigoUniversitario], [Correo], [IdEscuela], [IdRol]) VALUES (2, N'020185098C', N'rfurlong@unprg.edu.pe', 28, 1)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_codigoUniversitario]    Script Date: 4/24/2026 1:59:33 AM ******/
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [uq_codigoUniversitario] UNIQUE NONCLUSTERED 
(
	[CodigoUniversitario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ROL] ADD  CONSTRAINT [DF_ROL_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[ALUMNO]  WITH CHECK ADD  CONSTRAINT [fk_alumno_usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([Id])
GO
ALTER TABLE [dbo].[ALUMNO] CHECK CONSTRAINT [fk_alumno_usuario]
GO
ALTER TABLE [dbo].[COMENTARIO]  WITH CHECK ADD  CONSTRAINT [fk_comentario_revision] FOREIGN KEY([IdRevision])
REFERENCES [dbo].[REVISION] ([Id])
GO
ALTER TABLE [dbo].[COMENTARIO] CHECK CONSTRAINT [fk_comentario_revision]
GO
ALTER TABLE [dbo].[ESCUELA]  WITH CHECK ADD  CONSTRAINT [fk_escuela_facultad] FOREIGN KEY([IdFacultad])
REFERENCES [dbo].[FACULTAD] ([Id])
GO
ALTER TABLE [dbo].[ESCUELA] CHECK CONSTRAINT [fk_escuela_facultad]
GO
ALTER TABLE [dbo].[PROFESOR]  WITH CHECK ADD  CONSTRAINT [fk_profesor_usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([Id])
GO
ALTER TABLE [dbo].[PROFESOR] CHECK CONSTRAINT [fk_profesor_usuario]
GO
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [fk_proyecto_profesor] FOREIGN KEY([IdProfesor])
REFERENCES [dbo].[PROFESOR] ([Id])
GO
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [fk_proyecto_profesor]
GO
ALTER TABLE [dbo].[PROYECTOXALUMNO]  WITH CHECK ADD  CONSTRAINT [fk_proyectoxalumno_alumno] FOREIGN KEY([IdAlumno])
REFERENCES [dbo].[ALUMNO] ([Id])
GO
ALTER TABLE [dbo].[PROYECTOXALUMNO] CHECK CONSTRAINT [fk_proyectoxalumno_alumno]
GO
ALTER TABLE [dbo].[PROYECTOXALUMNO]  WITH CHECK ADD  CONSTRAINT [fk_proyectoxalumno_proyecto] FOREIGN KEY([IdProyecto])
REFERENCES [dbo].[PROYECTO] ([Id])
GO
ALTER TABLE [dbo].[PROYECTOXALUMNO] CHECK CONSTRAINT [fk_proyectoxalumno_proyecto]
GO
ALTER TABLE [dbo].[REVISION]  WITH CHECK ADD  CONSTRAINT [fk_revision_proyecto] FOREIGN KEY([IdProyecto])
REFERENCES [dbo].[PROYECTO] ([Id])
GO
ALTER TABLE [dbo].[REVISION] CHECK CONSTRAINT [fk_revision_proyecto]
GO
ALTER TABLE [dbo].[ROLXRUTA]  WITH CHECK ADD  CONSTRAINT [fk_rolxruta_rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROL] ([Id])
GO
ALTER TABLE [dbo].[ROLXRUTA] CHECK CONSTRAINT [fk_rolxruta_rol]
GO
ALTER TABLE [dbo].[ROLXRUTA]  WITH CHECK ADD  CONSTRAINT [fk_rolxruta_ruta] FOREIGN KEY([IdRuta])
REFERENCES [dbo].[RUTA] ([Id])
GO
ALTER TABLE [dbo].[ROLXRUTA] CHECK CONSTRAINT [fk_rolxruta_ruta]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [fk_profesor_escuela] FOREIGN KEY([IdEscuela])
REFERENCES [dbo].[ESCUELA] ([Id])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [fk_profesor_escuela]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [fk_usuario_rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROL] ([Id])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [fk_usuario_rol]
GO
/****** Object:  StoredProcedure [dbo].[sp_IniciarSesion]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_IniciarSesion]
(
	@pemail VARCHAR(250),
	@pnombre VARCHAR(250),
	@papellidos VARCHAR(250)
)
AS
BEGIN

	DECLARE @usuarioEncontrado INT, @esNecesarioCompletar BIT = 1, @tipoRegistro CHAR(1);

	SELECT @usuarioEncontrado = Id
	FROM USUARIO USU 
	WHERE Correo = @pemail;

	PRINT(@usuarioEncontrado)

	SET @usuarioEncontrado = COALESCE(@usuarioEncontrado, 0);

	IF(@usuarioEncontrado = 0)
	BEGIN

		INSERT INTO USUARIO(Correo, IdRol) VALUES(@pemail, 3)
		SET @usuarioEncontrado = SCOPE_IDENTITY();

		INSERT INTO ALUMNO(Nombre, ApellidoPaterno, ApellidoMaterno, IdUsuario) 
			VALUES(@pnombre, LEFT(@papellidos, CHARINDEX(' ', @papellidos + ' ') - 1), 
			LTRIM(SUBSTRING(@papellidos, CHARINDEX(' ', @papellidos + ' ') + 1, LEN(@papellidos))), @usuarioEncontrado)
	END

	DECLARE @conteoResultados INT, @codigoUniversitarioUsuarioEncotrado VARCHAR(20)

	SELECT 
		@codigoUniversitarioUsuarioEncotrado = CodigoUniversitario 
	FROM USUARIO WHERE Id = @usuarioEncontrado

	IF(@codigoUniversitarioUsuarioEncotrado IS NOT NULL)
	BEGIN
		SET @esNecesarioCompletar = 0
	END

	IF(EXISTS (SELECT 1 FROM ALUMNO WHERE IdUsuario = @usuarioEncontrado))
	BEGIN
		SELECT
			USU.Id AS [ID_USUARIO],
			USU.CodigoUniversitario AS [CODIGO_UNIVERSITARIO],
			ALUM.TipoDocumento AS [TIPO_DOCUMENTO],
			ALUM.NumeroDocumento AS [NUMERO_DOCUMENTO],
			ALUM.Nombre AS [NOMBRE],
			ALUM.ApellidoPaterno AS [APELLIDO_PATERNO],
			ALUM.ApellidoMaterno AS [APELLIDO_MATERNO],
			USU.Correo AS [CORREO],
			ALUM.Telefono AS [TELEFONO],
			ESCU.Id AS [ID_ESCUELA],
			ESCU.Nombre AS [NOMBRE_ESCUELA],
			FACU.Id AS [ID_FACULTAD],
			FACU.Nombre AS [NOMBRE_FACULTAD],
			@esNecesarioCompletar AS [ES_NECESARIO_LLENAR],
			ROL.Id AS [ID_ROL],
			ROL.Nombre AS [ROL]
		FROM ALUMNO ALUM
		INNER JOIN USUARIO USU ON USU.Id = ALUM.IdUsuario
		INNER JOIN ROL ROL ON ROL.Id = USU.IdRol
		LEFT JOIN ESCUELA ESCU ON ESCU.Id = USU.IdEscuela
		LEFT JOIN FACULTAD FACU ON FACU.Id = ESCU.IdFacultad
		WHERE USU.Correo = @pemail
	END
	ELSE
	BEGIN IF(EXISTS (SELECT 1 FROM PROFESOR WHERE IdUsuario = @usuarioEncontrado))
		SELECT
			USU.Id AS [ID_USUARIO],
			USU.CodigoUniversitario AS [CODIGO_UNIVERSITARIO],
			PRO.TipoDocumento AS [TIPO_DOCUMENTO],
			PRO.NumeroDocumento AS [NUMERO_DOCUMENTO],
			PRO.Nombre AS [NOMBRE],
			PRO.ApellidoPaterno AS [APELLIDO_PATERNO],
			PRO.ApellidoMaterno AS [APELLIDO_MATERNO],
			USU.Correo AS [CORREO],
			PRO.Telefono AS [TELEFONO],
			ESCU.Id AS [ID_ESCUELA],
			ESCU.Nombre AS [NOMBRE_ESCUELA],
			FACU.Id AS [ID_FACULTAD],
			FACU.Nombre AS [NOMBRE_FACULTAD],
			@esNecesarioCompletar AS [ES_NECESARIO_LLENAR],
			ROL.Id AS [ID_ROL],
			ROL.Nombre AS [ROL]
		FROM PROFESOR PRO
		INNER JOIN USUARIO USU ON USU.Id = PRO.IdUsuario
		INNER JOIN ROL ROL ON ROL.Id = USU.IdRol
		LEFT JOIN ESCUELA ESCU ON ESCU.Id = USU.IdEscuela
		LEFT JOIN FACULTAD FACU ON FACU.Id = ESCU.IdFacultad
		WHERE USU.Correo = @pemail
	END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_ActualizarDatosUsuario]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ActualizarDatosUsuario]
(
	@pIdUsuario INT,
	@pCodigoUniversitario VARCHAR(10),
	@pTipoDocumento CHAR(1),
	@pNumeroDocumento VARCHAR(20),
	@pNombre VARCHAR(250),
	@pApellidoPaterno VARCHAR(250),
	@pApellidoMaterno VARCHAR(250),
	@pTelefono VARCHAR(20),
	@pEscuela INT,
	@msj CHAR(2) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			UPDATE ALUMNO SET 
				TipoDocumento = @pTipoDocumento,
				NumeroDocumento = @pNumeroDocumento,
				Nombre = @pNombre,
				ApellidoPaterno = @pApellidoPaterno,
				ApellidoMaterno = @pApellidoMaterno,
				Telefono = @pTelefono
			WHERE IdUsuario = @pIdUsuario

			UPDATE USUARIO SET
				CodigoUniversitario = @pCodigoUniversitario,
				IdEscuela = @pEscuela

			SET @msj = 'OK';
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @msj = 'EX';
		ROLLBACK TRANSACTION;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_AgregarRoles]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_AgregarRoles]
(
	@pNombre VARCHAR(200),
	@pPermiso XML,
	@msj VARCHAR(200) OUTPUT
)
AS
BEGIN
	
	BEGIN TRY
		BEGIN TRANSACTION

			DECLARE @idNuevo INT;

			INSERT INTO ROL(Nombre, Estado) VALUES (@pNombre, 1);

			SET @idNuevo = SCOPE_IDENTITY();

			INSERT INTO ROLXRUTA(IdRuta, IdRol)
			SELECT 
				@idNuevo,
				T.N.value('(IdRuta)[1]', 'INT') AS IdRuta
			FROM @pPermiso.nodes('/Permisos/Permiso') AS T(N);

			IF(@@ROWCOUNT > 0)
				BEGIN
					SET @msj = 'OK';
				END
			ELSE
				BEGIN
					SET @msj = 'EX'
				END

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		SET @msj = ERROR_MESSAGE();
		ROLLBACK TRANSACTION
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_EditarRoles]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_EditarRoles]
(
	@pId INT,
	@pNombre VARCHAR(200),
	@pPermiso XML,
	@msj VARCHAR(200) OUTPUT
)
AS
BEGIN
	
	BEGIN TRY
		BEGIN TRANSACTION

			UPDATE ROL SET Nombre = @pNombre WHERE Id = @pId

			DELETE FROM ROLXRUTA WHERE IdRol = @pId

			INSERT INTO ROLXRUTA(IdRol, IdRuta)
			SELECT 
				@pId,
				T.N.value('(IdRuta)[1]', 'INT') AS IdRuta
			FROM @pPermiso.nodes('/Permisos/Permiso') AS T(N);

			IF(@@ROWCOUNT > 0)
				BEGIN
					SET @msj = 'OK';
				END
			ELSE
				BEGIN
					SET @msj = 'EX'
				END

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		SET @msj = ERROR_MESSAGE();
		ROLLBACK TRANSACTION
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarRol]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_EliminarRol]
(
	@pId INT,
	@msj VARCHAR(200) OUTPUT
)
AS
BEGIN
	
	BEGIN TRY
		BEGIN TRANSACTION

			UPDATE ROL 
				SET Estado =
					(CASE 
						WHEN Estado = 0 THEN 1 
						ELSE 0 
					 END)
			WHERE Id = @pId

			IF(@@ROWCOUNT > 0)
				BEGIN
					SET @msj = 'OK';
				END
			ELSE
				BEGIN
					SET @msj = 'EX'
				END

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		SET @msj = ERROR_MESSAGE();
		ROLLBACK TRANSACTION
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerEscuela]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ObtenerEscuela]
(
	@pIdFacultad INT
)
AS
BEGIN
	
	SELECT 
		ESC.Id AS [ID],
		ESC.Nombre AS [NOMBRE]
	FROM ESCUELA ESC
	WHERE ESC.IdFacultad = @pIdFacultad

END
GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerFacultad]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ObtenerFacultad]
AS
BEGIN
	
	SELECT 
		FAC.Id AS [ID],
		FAC.Nombre AS [NOMBRE]
	FROM FACULTAD FAC

END
GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerInformacionPersonal]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ObtenerInformacionPersonal]
(
	@pIdUsuario INT
)
AS
BEGIN

	SELECT 
		USU.Id AS [ID],
		USU.CodigoUniversitario AS [CODIGO_UNIVERSITARIO],
		ALUM.TipoDocumento AS [TIPO_DOCUMENTO],
		ALUM.NumeroDocumento AS [NUMERO_DOCUMENTO],
		ALUM.Nombre AS [NOMBRE],
		ALUM.ApellidoPaterno AS [APELLIDO_PATERNO],
		ALUM.ApellidoMaterno AS [APELLIDO_MATERNO],
		USU.Correo AS [CORREO],
		ALUM.Telefono AS [TELEFONO],
		FACU.Id AS [ID_FACULTAD],
		ESCU.Id AS [ID_ESCUELA]
	FROM USUARIO USU
	INNER JOIN ALUMNO ALUM ON ALUM.IdUsuario = USU.Id
	LEFT JOIN ESCUELA ESCU ON ESCU.Id = USU.IdEscuela
	LEFT JOIN FACULTAD FACU ON FACU.Id = ESCU.IdFacultad


END
GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerMenu]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ObtenerMenu]
(
	@pIdRol INT
)
AS
BEGIN
	
	SELECT 
		RUTA.Id AS [ID],
		RUTA.Menu AS [NOMBRE],
		RUTA.Ruta AS [RUTA]
	FROM RUTA RUTA
	INNER JOIN ROLXRUTA ROXRU ON ROXRU.IdRuta = RUTA.Id AND ROXRU.IdRol = @pIdRol

END
GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerPermisos]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ObtenerPermisos]
(
	@pId VARCHAR(100)
)
AS
BEGIN
	
	SELECT
        RUT.Id AS [ID_RUTA],
        RUT.Menu AS [RUTA],
        CASE 
            WHEN ROXRU.Id IS NULL THEN 0 
            ELSE 1 
        END AS [IS_PERMISO]
    FROM RUTA RUT
    LEFT JOIN ROLXRUTA ROXRU 
        ON ROXRU.IdRuta = RUT.Id 
       AND ROXRU.IdRol = @pId

END
GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerRoles]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ObtenerRoles]
(
	@pNombre VARCHAR(100)
)
AS
BEGIN
	
	SELECT 
		ROL.Id AS [ID],
		ROL.Nombre AS [NOMBRE],
		ROL.Estado AS [ESTADO]
	FROM ROL ROL
	WHERE ROL.Nombre LIKE CONCAT(@pNombre, '%') OR @pNombre IS NULL OR @pNombre = ''

END
GO
/****** Object:  StoredProcedure [dbo].[usp_VerRoles]    Script Date: 4/24/2026 1:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_VerRoles]
(
	@pid INT
)
AS
BEGIN
	
	SELECT 
		ROL.Id AS [ID],
		ROL.Nombre AS [NOMBRE],
		ROL.Estado AS [ESTADO]
	FROM ROL ROL
	WHERE ROL.Id = @pid

END
GO
